{% extends 'modals/baseModal.html' %}

<!-- MODAL ID -->
{% block modal-id %} id="backendModal"{% endblock modal-id %}

<!-- MODAL TITLE -->
{% block modal-title %}<i class="fas fa-user-alt"></i>&nbsp;&nbsp; BackEnd Opportunities{% endblock modal-title %}

<!-- Form action-->
{% block action %} action="/email_backend" {% endblock action %} 

<!-- Form validation-->
{% block validation %} onsubmit="return validateForm2()" {% endblock validation %}

<!-- =========================  INPUT ID  ========================= -->
<!-- NAME -->
{% block id-name %} id="name2" {% endblock id-name %} 
<!-- AGE -->
{% block id-age %} id="age2" {% endblock id-age %} 
<!-- EMAIL -->
{% block id-email %} id="email2" {% endblock id-email %}
<!-- PHONE -->
{% block id-phone %} id="phone2" {% endblock id-phone %} 
<!-- ADDRESS -->
{% block id-address %} id="address2" {% endblock id-address %}
<!-- EXPERIENCE -->
{% block id-experience %} id="experience2" {% endblock id-experience %}
<!-- SKILLS -->
{% block id-skills %} id="skills2" {% endblock id-skills %}
<!-- FILE -->
{% block id-file %} id="file2" {% endblock id-file %}