{% extends 'modals/baseModal.html' %}

<!-- MODAL ID -->
{% block modal-id %} id="frontendModal"{% endblock modal-id %}

<!-- MODAL TITLE -->
{% block modal-title %}<i class="fas fa-code"></i>&nbsp;&nbsp; FrontEnd Opportunities{% endblock modal-title %}

<!-- Form action-->
{% block action %} action="/email_frontend" {% endblock action %} 

<!-- Form validation-->
{% block validation %} onsubmit="return validateForm()" {% endblock validation %}

<!-- =========================  INPUT ID  ========================= -->
<!-- NAME -->
{% block id-name %} id="name" {% endblock id-name %} 
<!-- AGE -->
{% block id-age %} id="age" {% endblock id-age %} 
<!-- EMAIL -->
{% block id-email %} id="email" {% endblock id-email %}
<!-- PHONE -->
{% block id-phone %} id="phone" {% endblock id-phone %} 
<!-- ADDRESS -->
{% block id-address %} id="address" {% endblock id-address %}
<!-- EXPERIENCE -->
{% block id-experience %} id="experience" {% endblock id-experience %}
<!-- SKILLS -->
{% block id-skills %} id="skills" {% endblock id-skills %}
<!-- FILE -->
{% block id-file %} id="file" {% endblock id-file %}