{% extends 'base.html' %}

<!-- TITLE PAGE -->
{% block title %} Opportunities {% endblock title %}



<!-- NAVBAR CONTENT -->
{% block navbar-content %} 
    <i class="text-warning fas fa-code"></i> &nbsp;&nbsp; Oportunidades QUE|TA
{% endblock navbar-content %}

<!-- NAV LINK TO NAVIGATE BETWEEN THE PAGES -->
{% block link %}
<a href="{% url 'home' %}" style="margin-right: 25; font-size: 25px;" title="Go back">
    <i class="text-warning fas fa-angle-double-left">
    </i>
</a>
{% endblock link %}

<!-- PAGE CONTENT -->
{% block content %}
<div class="container mt-4" style="width:80%;">
    <div class="justify-content-center align-items-center row">
        <h6 class="btn btn-warning" style="width: 100%; cursor: default;">
            <strong>AVAILABLE JOB OPPORTUNITIES</strong>
        </h6>
        <div class="shadow-lg card p-3 mt-3" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="row">
                <!-- FIRST BUTTON  -->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-outline-warning btn-lg jobs" data-bs-toggle="modal" data-bs-target="#frontendModal">
                            <i class="fab fa-react fa-5x"></i>
                            <br><br> Front End
                        </button>
                    </div>
                </div>
                <!-- SECOND BUTTON  -->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-outline-warning btn-lg jobs" data-bs-toggle="modal" data-bs-target="#backendModal">
                            <i class="fab fa-python fa-5x"></i>
                            <br><br> Back End
                        </button>
                    </div>
                </div>
                <!-- THIRD BUTTON  -->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-outline-warning btn-lg jobs" data-bs-toggle="modal" data-bs-target="#fullstackModal">
                            <i class="fab fa-node-js fa-5x"></i>
                            <br><br> BDD jobs
                        </button>
                    </div>
                </div>
                <!-- FOUTH BUTTON  -->
                <div class="col-xl-3 col-sm-6 p-1">
                    <div class="card" style="background-color: transparent;">
                        <button class="btn btn-outline-light btn-lg jobs" disabled>
                            <i class="fas fa-file-code fa-5x"></i>
                            <br><br> Intern (closed)
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}